.btn-color {
    background-color: #289BDE;
    color: #ffffff;
}

.course-price {
    color: #289BDE;
}

.bg-register {
    background-color: #289BDE;
}

.btn-register {
    background-color: #ffffff;
    color: #289BDE;
}