.b-color {
    background-color: #289BDE;
    color: #ffffff;
}

.course-price {
    color: #289BDE;
}

.back-register {
    background-color: #289BDE;
}

.b-register {
    background-color: #ffffff;
    color: #289BDE;
}